.text-center {
    text-align: center;
  }

.header {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
}

.table-head{
    color: white;
    background-color: rgb(23, 32, 116)
}

.btn-sm{
    height: 35px;
    text-align: center;
    font-weight: bold;
}