.text-center {
    text-align: center;
  }

.header {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
}

.table-head{
    color: rgb(6, 45, 173);
    //background-color: rgb(23, 32, 116);
    //background-color: rgb(39, 74, 170);
}