<br>
<div class = "container">
    <h2>Editing places</h2>
    <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Place</label>
            </div>
            <select [(ngModel)]="model" class="custom-select" id="inputGroupSelect01">
              <option *ngFor = "let item of data" [ngValue]="item">
                  {{item.place}} ({{item.country}})
              </option>
            </select>
    </div>

        <br>
        <h4>Edit item</h4>
        <form id="add-form">
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label for="Country">Country</label>
                    <input [(ngModel)]="model.country" class="form-control" id="iCountry" name="country" value="model.Country" required>
                </div>
                <div class="form-group col-sm-6">
                    <label for="Place">Place</label>
                    <input [(ngModel)]="model.place" class="form-control" id="iPlace" name="place" value="model.place" required>
                </div>
                <div class="form-group col-sm-12">
                    <label for="Activity">Activity</label>
                    <input [(ngModel)]="model.activity" class="form-control" id="iActivity" name="activity" value="model.activity" required>
                </div>
                <div class="form-group col-sm-12">
                    <label for="Description">Description</label>
                    <textarea [(ngModel)]="model.description" class="form-control" id="iDescription" name="dsc" value="model.description" required></textarea>
                </div>
                <div class="form-group col-sm-12">
                    <label for="Rating">Rating</label>
                    <input type ="number" min=0 max=5 step=0.1 [(ngModel)]="model.rating" class="form-control" id="iRating" name="rating" value="model.rating" required>
                </div>
                <button class="btn btn-primary" (click)="editItem(model.id)">Edit</button>
            </div>
        </form>
    </div>
